@model WebAppCore.Models.InventoryViewModels.ScopedDetailsViewModel

<div>
    <span>
        @Html.DisplayNameFor(model => model.ScopedDescriptor)
    </span><span>
        @Html.DisplayFor(model => model.ScopedDescriptor)
    </span>
</div>
