@model WebAppCore.Models.InventoryViewModels.SingletonDetailsViewModel

<div>
    <span>
        @Html.DisplayNameFor(model => model.SingletonDescriptor)
    </span><span>
        @Html.DisplayFor(model => model.SingletonDescriptor)
    </span>
</div>
