@model WebAppCore.Models.InventoryViewModels.TransientDetailsViewModel

<div>
    <span>
            @Html.DisplayNameFor(model => model.TransientDescriptor)
    </span><span>
    @Html.DisplayFor(model => model.TransientDescriptor)
    </span>
</div>
